<!-- PHOTO GALLERY -->

<section id="gallery" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col d-flex justify-content-end">
                <a href="" router-link="home">
                    <button class="btn btn-outline-secondary">
                        <i class="fa fa-backward pr-2"></i>Back</button>
                </a>
            </div>
        </div>
        <h1 class="text-center head">Photo Gallery</h1>
        <p class="text-center info-header">Check Out Our Photos</p>
        <div class="row my-4">
            <div class="col-md-4">
                <a href="../assets/thought-catalog-575829-unsplash.jpg" data-gallery="img-gallery">
                </a>
                    <img src="../assets/thought-catalog-575829-unsplash.jpg" alt="" class="img-fluid pb-2">
                    <span class="text-muted tag">Book</span>
                    <span class="text-muted tag">Hand</span>
                    <span class="text-muted tag">Stack</span>
            </div>
            <div class="col-md-4">
                <a href="../assets/fabiola-penalba-620734-unsplash.jpg" data-gallery="img-gallery">
                    <img src="../assets/fabiola-penalba-620734-unsplash.jpg" alt="" class="img-fluid pb-2">
                </a>
                    <span class="text-muted tag">Book</span>
                    <span class="text-muted tag">Knee</span>
                    <span class="text-muted tag">Legs</span>
            </div>

            <div class="col-md-4">
                <a href="../assets/thought-catalog-575840-unsplash.jpg" data-gallery="img-gallery">
                    <img src="../assets/thought-catalog-575840-unsplash.jpg" alt="" class="img-fluid pb-2">
                </a>
                    <span class="text-muted tag">Tea</span>
                    <span class="text-muted tag">Read</span>
                    <span class="text-muted tag">Book</span>
            </div>

        </div>
        <div class="row">
            <div class="col-md-4">
                <a href="../assets/ben-white-197668-unsplash.jpg">
                </a>
                    <img src="../assets/ben-white-197668-unsplash.jpg" alt="" class="img-fluid pb-2">
                    <span class="text-muted tag">Book</span>
                    <span class="text-muted tag">Boy</span>
                    <span class="text-muted tag">Read</span>
            </div>
            <div class="col-md-4">
                <a href="../assets/alexis-brown-82988-unsplash.jpg">
                </a>
                    <img src="../assets/alexis-brown-82988-unsplash.jpg" alt="" class="img-fluid pb-2">
                    <span class="text-muted tag">Outdoor</span>
                    <span class="text-muted tag">Notebook</span>
                    <span class="text-muted tag">Table</span>
            </div>
            <div class="col-md-4">
                <a href="../assets/iam-se7en-657490-unsplash.jpg">
                    <img src="../assets/iam-se7en-657490-unsplash.jpg" alt="" class="img-fluid pb-2">
                </a>
                    <span class="text-muted tag">Women</span>
                    <span class="text-muted tag">Female</span>
                    <span class="text-muted tag">Hat</span>
            </div>
        </div>
    </div>
</section>