/* You can add global styles to this file, and also import other style files */
@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:700';
.overlay{
  
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1000;
    background: url('assets/background.png') no-repeat center top fixed;
    background-size: cover;
    background-attachment: fixed;
}

.dark-overlay{
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    top: 0;
    left: 0;
    height:100%;
    width: 100%;
}
.head{
    color:#66B2B2;
}



  