.bttn {
    font-size:18px;
    letter-spacing:2px;
    text-transform:uppercase;
    display:inline-block;
    text-align:center;
    width:270px;
    font-weight:bold;
    padding:14px 0px;
    border:3px solid #66B2B2;
    border-radius:2px;
    cursor: pointer;
    transition: 0.3s ease-in;
   
  }
  .bttn:hover{
    color:#FFF;
    background-color: rgb(48, 47, 47);
    border:3px solid #fff;
  }

  
  

  .bttn:before {
    -webkit-transition: 0.5s all ease;
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: #66B2B2;
    z-index: -2;
  }
  .bttn:hover:before {
    -webkit-transition: 0.5s all ease;
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
  }
  